/* Regole Generali */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Regole di Struttura */

body {
    font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: gray;
}

/* Header-Logo */

header {
    background-color: white;
}

#content-logo {
    padding: 10px;
    margin-left: 10px;
    gap: 8px;
}

#content-logo,
img {
    line-height: 100%;
    vertical-align: middle;
}

#content-logo,
span {
    font-size: 40px;
    font-weight: 700;
}

/* main */

main {

    margin: 50px auto;
    width: 60%;
    height: 600px;
    background-color: white;
}

button {
    width: 80px;
    height: 30px;
    border: 1px solid silver;
    border-radius: 5px;
    color: silver;
    background-color: white;
    cursor: pointer;
}

button:hover {
    background-color: dodgerblue;
    color: white;
}