/* Regole Generali */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Regole di Struttura */

body {
    font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: gray;
}

/* Header-Logo */

header {
    background-color: white;
}

#content-logo {
    padding: 10px;
    margin-left: 10px;
    gap: 8px;
}

#content-logo,
img {
    line-height: 100%;
    vertical-align: middle;
}

#content-logo,
span {
    font-size: 40px;
    font-weight: 700;
}

/* main  set*/

main {

    margin: 40px auto;
    width: 60%;
    background-color: white;
}

#content {
    width: 80%;
    margin: 0 auto;
}

.tobo {
    margin-top: 20px;
}



/* Button Add */

button {
    margin-top: 20px;
    width: 80px;
    height: 30px;
    border: 1px solid silver;
    border-radius: 5px;
    color: silver;
    background-color: white;
    cursor: pointer;
}

/* Effetto bottone */

button:hover {
    background-color: dodgerblue;
    color: white;
}

/* Check color */

.red {
    color: red;
    font-size: 20px;
}

.green {
    color: green;
    font-size: 20px;
}

/* Set input */

input {
    width: 80px;
    height: 30px;
    color: white;
    border-radius: 10px;
    border: none;
}

p {
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
}

/* Color input */

.editorial {
    background-color: dodgerblue;
}


#q1-goals {
    background-color: darkorchid;
}

#recruiting {
    background-color: green;
}

#mobile {
    background-color: orange;
}

#website {
    background-color: palevioletred;
}

#sales {
    background-color: greenyellow;
}